<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3" >
              <mat-card>
                <div class="container text=center ">
                    <!-- here you we use height and padding to adjust the img -->
                    <img src="../../../assets/logo.png" alt="" style="height: 70px; padding-left:43%;">
                </div>

                <h1 class="text-center">Register Here!!</h1>
                 
                <!-- here we print data mens data interpolation -->
                 <!-- {{user | json}} -->

                <form (ngSubmit)="formSubmit()">
                    <!-- username foeld -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input required
                        [(ngModel)] = "user.username"
                        name = "username"
                        matInput placeholder="Enter here">
                        <mat-hint>User name must be unique !!</mat-hint>
                    </mat-form-field>
                    
                    <!-- password field -->
                    <mat-form-field class="full-width"  appearance="outline">
                        <mat-label>User Password</mat-label>
                        <input required
                        [(ngModel)] = "user.password"
                        name = "password"
                        type="password"
                        matInput placeholder="enter password">
                      </mat-form-field>

                      <!-- firstname -->
                      <mat-form-field class="full-width"  appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input required
                        [(ngModel)] = "user.firstName"
                        name = "firstName"
                        matInput placeholder="enter first name">
                      </mat-form-field>
                      
                      <!-- lastname -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input required
                        [(ngModel)] = "user.lastName"
                        name = "lastName"
                         matInput placeholder="enter last name">
                      </mat-form-field>

                      <!-- email -->
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input required
                        [(ngModel)] = "user.email"
                        name = "email"
                        type="email"
                        matInput placeholder="enter email">
                      </mat-form-field>

                      <!-- phone -->
                      <mat-form-field  class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input required
                        [(ngModel)] = "user.phone"
                        name = "phone"
                        type="number"
                        matInput placeholder="enter phone">
                      </mat-form-field>

                      <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button style="margin-left:20px" mat-raised-button color="accent">Clear</button>
                      </div>
                </form>

                </mat-card>
            </div>
        </div>
    </div>
</div>